@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
    var text = Model.TextIndex;
}

<div class="container-index">
    <div class="first-text">
        <h1>Daniel Sarmiento</h1>
        <hr>
        <p>
            Programador, ingeniero mecánico y emprendedor, mi objetivo es mejorar la calidad de vida de las personas, la tecnología es la herramienta que utilizo. Tengo experiencia en el desarrollo de aplicaciones web y de escritorio y en el análisis de datos.
        </p>

    </div>
    <div class="container-perfil-image">
        <img src="~/src/images/Perfil.jpg" id ="perfil"alt="">
    </div>
</div>

<div class="conrainer-tools">
    <div class="container-tools-text">
        <h1>Herramientas</h1>
        <hr>
        <p>
            Conozco las siguientes herramientas que utilizo para el desarrollo de aplicaciones web y escritorio.
        </p>
    </div>
    <div class="container-tools-image">
        <img src="~/ImagesTools/dotnet.png" class="item-tool" alt="">
    </div>
</div>

@* <div class="textChange">
    <h1>@text</h1>
</div> *@