@page
@model IndexModel
@{
    ViewData["Title"] = "Inicio";
}

<div class="container-index">
    <div class="first-text">
        <h1>Bienvenido a la página de inicio</h1>
        <p>
            Programador, ingeniero mecánico y emprendedor, mi objetivo es mejorar la calidad de vida de las personas, la tecnología es la herramienta que utilizo. Tengo experiencia en el desarrollo de aplicaciones web y de escritorio y en el análisis de datos.
        </p>
    </div>



    <div class="container-perfil-image">
        <img src="~/src/images/Perfil.jpg" id ="perfil"alt="">
    </div>
</div>