@page
@model ListProjectModel;
@{
    ViewData["Title"] = "Works";
}


<div class="conteiner-cards">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
            <img src="https://scontent.fbga1-4.fna.fbcdn.net/v/t1.6435-9/188663129_356864672528956_4082147388557263254_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeHNmjQHNxELCGXAcpXVbBg8zhuBmT_b6S7OG4GZP9vpLuP3JzZygijII9aM7KLvW-IYqTiLMavAZhBQHWCBZXNt&_nc_ohc=r9ijuTHBkxIAX9ftnIG&tn=_bvfyvUKUrjoPH3g&_nc_ht=scontent.fbga1-4.fna&oh=00_AT-V8HK2WIHfLkjAd31VJg4MG765aTLUP-2w-nPW0E3XVQ&oe=628AA471" class="card-img-top" id ="img-project"alt="...">
            <div class="card-body">
                <h5 class="card-title">Mr Perro</h5>
                <p class="card-text">
                    Website for a restaurant, The technologies used were .net core, Sql server, and c#.
                    
                </p>
                 <a href="https://mrperro.azurewebsites.net/">View</a>
            </div>
            </div>
        </div>


    </div>
</div>